html{
    background-color: #1C2A44;
    font-family: 'Arial';
}

ul{

    margin: auto;
    margin-top: 5%;
    width: 450px;
    display: flex;
    flex-direction: row;

    list-style: none;
    padding: 50px 0;
    border-radius: 25px;

    border: 0.1px solid #099FFF;
    background-color: #18181B;

    /*Define duas sombras*/
    box-shadow: 0 4px 8px 0 #00FFFF, 0 6px 20px 0 #000013;
}

li{
    margin: auto;
    color: #CDDCE9;
    font-size: 20px;

    /*Muda o ponteiro pra maozinha, chique :3*/
    cursor: pointer;
}

li::after{
    
    display:block;
    content: '';
    
    border-bottom: solid 1px #00FFFF;
    padding-bottom: 1%;
    
    /* "Esmagamos" border-botton, agora invisível*/
    transform: scaleX(0);

    /*Efeito de transição 
    * transition: [property] [duration] [timing-function] [delay];
    * easy-in-out = começa devagar, acelera no meio e desacelera no final
    */
    transition: transform 300ms ease-in-out;
}

li:hover::after{
    /* "Descomprime" o border, agora visível */
    transform: scaleX(1);
}
